@use "./partials/variables" as *;
@use "./partials/globals" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;
@use "./partials/header";

.header{
  width:100%;
  @include flex(row,center,center,nowrap);
  @include tablet{
    height:13vh;
    @include desktop{
      height:13vh;
    }
  }
  &__nav{
    background-color:$primary-color1;
    width:100%;
    @include tablet{
      height:13vh;
      @include flex(row,space-between,center,wrap);
    }
    @include desktop{
      height:13vh;
      @include flex(row,space-between,center,wrap);
    }
    &--container{
      padding-left:16px;
      padding-top:16px;
      padding-bottom:8px;
      @include flex(row,center,center,wrap);
      @include tablet{
        @include flex(row,flex-start,center,wrap);
        margin-left:48px;
        padding:0;
        height:13vh;
      }
      @include desktop{
        height:13vh;
      }
    }
    &--logo{
      padding:0;
      @include tablet{
        padding-left:16px;
      }
      @include desktop{
      }
    }
  }
  &__menu{
    @include flex(row,center,center,wrap);
    color:$primary-color3;
    text-align: center;
    @include tablet{
      @include flex(row,space-around,center,wrap);
      width:30%;
      margin-left:-40%;
      height:13vh;
    }
    @include desktop{
      width:25%;
      height:13vh;
    }
    &--link{
      padding-bottom: 10px;
      @include mobile-pageheader;
      font-size:18px;
      @include tablet{
        @include desktop-subheader;
        padding-bottom:3px;
        font-size:18px;

      }
      @include desktop{
        @include desktop-subheader;
        font-size:18px;
      }
    }
  }
}
.link__highlight--container{
  border-bottom:3px solid $primary-color3;
  margin:0;
  width:50%;
  @include tablet{
    height:13vh;
    @include flex(row,center,center,nowrap)
  }

}
.link__text{
  color:$secondary-color2;
}
.link__text:hover{
 color:$secondary-color3;
}

.link__text:active{
  color:$primary-color3;
  font-weight:900;
}


.banner{
background-image: url(../assets/Images/hero-shows.jpg);
@include background-style;
width:100%;
color:$primary-color3;
&__content{
  @include flex(column,flex-start,flex-start,wrap);
  background-color: rgba(50, 50, 50,0.5);
  width:100%;
  @include desktop{
    height:50vh;
    position: relative;
  }
  &--title1{
    margin:0;
    padding-top:16px;
    padding-left:16px;
    @include mobile-pageheader;
    @include tablet{
      @include desktop-pageheader;
      padding-left:64px;
      padding-top:24px;
      font-size:48px;
    }
    @include desktop{
      max-width: 800px;
      padding-left:128px;
      padding-top:32px;
    }

  }
   &--title2{
   margin:0;
   opacity: 1;
   color:white;
   fill:white;
   width:90%;
   padding-top:24px;
   padding-left:16px;
   @include mobile-subheader;
   @include tablet{
    @include desktop-subheader;
    padding-left:64px;
    padding-top:48px;
   }
    @include desktop{
      max-width: 800px;
      padding-left:128px;
      padding-top:128px;
    }
  }
  &--soundcloud{
    width:100%;
    text-align:center;
    margin-top:16px;
    padding-bottom:16px;
    @include tablet{
      width:60%;
      margin-top:24px;
      padding-bottom:24px;
      text-align:left;
      margin-left:80px;
      @include desktop{
        width:40%;
        position: absolute;
        top:25%;
        right:15%;
      }
    }
}
}
}
.banner__content--soundcloud-iframe{
  @include tablet{
    height:180px;
  }
}
//shows
.shows{
  width:100%;
  padding:16px;
  @include tablet{
    padding:48px;
    width:90%;
  }
  &__title{
    @include mobile-pageheader;
    font-size:32px;
    color:$primary-color1;
    padding-top:24px;
    padding-bottom:24px;
    @include tablet{
      @include desktop-pageheader;
      padding-left:48px;
      @include desktop{
        padding-left:64px;
      }
    }
  }
  &__container{
    width:100%;
    text-align:left;
    @include tablet{
      @include flex(row,space-between,center,wrap);
    }
    @include desktop{
      width:70%;
      margin-right:5%;
      max-width: 1000px;
    }
    
  }
  &__date-container{
    @include mobile-subheader;
    color: $primary-color2;
    padding:16px 0;
    @include tablet{
      @include desktop-bodycopy;
      font-size:16px;
    }
  }
  &__date{
    @include mobile-subheader;
    color:$primary-color1;
    margin-top:-10px;
    font-size:18px;
    @include tablet{
      @include desktop-bodycopy;
      font-size:16px;
    }
  }
  &__venue-container{
    @include mobile-subheader;
    color: $primary-color2;
    padding:16px 0;
    @include tablet{
      @include desktop-bodycopy;
      font-size:16px;
    }
  }
  &__venue{
    @include mobile-subheader;
    font-weight:400;
    color:$primary-color1;
    margin-top:-10px;
    font-size:18px;
    @include tablet{
      @include desktop-bodycopy;
      font-size:16px;
    }
  }
  &__location-container{
    @include mobile-subheader;
    color: $primary-color2;
    padding:16px 0;
    @include tablet{
      @include desktop-bodycopy;
      font-size:16px;
    }
  }
  &__location{
    @include mobile-subheader;
    font-weight:400;
    color:$primary-color1;
    margin-top:-10px;
    font-size:18px;
    @include tablet{
      @include desktop-bodycopy;
      font-size:16px;
    }
  }
  &__button{
    width:100%;
    background-color: $primary-color1;
    @include mobile-sectionheader;
    color: $primary-color3;
    text-align:center;
    padding:4px;
    margin: 24px 0;
    border-radius: 10px;
    font-size:18px;
    @include tablet{
      width:20%;
    }
  }
  &__divider{
    height:1px;
    color:$secondary-color2;
    width:120%;
    margin-top:4px;
    margin-bottom:6px;
    padding:0;
  }
} 

.shows__container--hover:hover{
  background-color: $secondary-color3;
}

.shows__container--selected:active{
  background-color: $secondary-color2;
}


//footer
.footer{
  position: relative;
  background-color: $primary-color1;
  color:$primary-color3;
  width:100%;
  padding-top:24px;
  @include desktop{
    max-width: 1300px;
  }
&__title{
  padding-top:24px;
  padding-bottom:16px;
  padding-left:16px; 
  @include mobile-pageheader;
  position: relative;
  @include tablet{
    @include desktop-sectionheader;
    display: inline-block;
    padding-left:48px;
    @include desktop{
      max-width: 800px;
    }
  }
}
&__icon{
  @include flex(row,center,center,nowrap);
  width:42%;
  height:6vh;
  margin-left:8px;
  @include tablet{
    height:7vh;
    width:30%;
    margin-left:0;
    display: inline-block;
    margin-left:5%;
    @include desktop{
      max-width: 800px;
      height:6vh;
    }
  }
  &--item{
    height:25px
  }
}
&__text{
 padding-left:16px;
  @include mobile-bodycopy;
  @include tablet{
    @include flex(row,space-between,center,nowrap);
    width:100%;
    @include desktop{
      width:70%;
      margin-left:16px;
      max-width: 800px;
      padding-left:0;
    }
  }
  &--title{
    @include mobile-subheader;
    padding-top:16px;
    padding-bottom:16px;
    @include tablet{
      @include desktop-bodycopy;
      font-weight:700;
      @include desktop{
        @include desktop-bodycopy;
        max-width: 800px;
    }
  }
}
&--content{
  @include mobile-bodycopy;
  @include tablet{
    @include desktop-bodycopy;
  @include desktop{
    max-width: 800px;
  }
  }
}
&--content2{
  padding-top:0px;
  padding-bottom:16px;
}
&--content3{
  color:$primary-color3;
}
}
&__logo{
  padding-top:48px;
  padding-bottom:16px;
  padding-left:16px;
  @include tablet{
    position: absolute;
    left:80%;
    top:6%;
    display: inline-block;
    @include desktop{
    }
  }
&--text{
  padding-bottom:16px;
  padding-left:16px;
  margin:0;
  @include mobile-bodycopy;
  @include tablet{
    @include desktop-footercopy;
    padding-top:24px;
    margin-left:40px;
  }
  @include desktop{
    @include desktop-footercopy;
    margin-left:48px;
    padding-top:48px;
    max-width: 800px;
    padding-left:0;
  }
}
}

.footer__icon--highlight{
  @include tablet{
    margin-left:15%;
    margin-right:10%;
  }
}
.footer__text--container1{
  @include tablet{
  margin-left:5%;
}
}
}
.footer__bgcontainer{
  @include desktop{
  background-color: $primary-color1;
  width:100%;
  padding-top:24px;
}
}